@font-face {
  /* 为载入的字体取名字(随意) */
  font-family: 'DYH';        
  /* 字体文件地址(相对或者绝对路径都可以) */
  src: url(/fonts/SmileySans-Oblique.otf.woff2);
  /* 定义加粗样式(加粗多少) */
  font-weight: Black;
  /* 定义字体样式(斜体/非斜体) */
  font-style: normal;
  /* 定义显示样式 */
  font-display: block;
}


#idouban {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  flex-direction: row;
}

#idouban .idouban-comment {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

#idouban .idouban-item {
  position: relative;
  width: calc(100% / 4 - 0.8rem / 2);
  border-radius: 12px;
  border: var(--style-border);
  box-shadow: var(--efu-shadow-border);
  background: var(--efu-card-bg);
  transition: 0.3s;
  animation: slide-in 0.6s 0.3s backwards;
  border: var(--style-border);
  height: 160px;
  min-height: 160px !important;
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  #idouban .idouban-item {
    width: calc(100% / 3 - 0.7rem / 2);
  }
}

@media screen and (max-width: 899px) {
  #idouban .idouban-item {
    width: calc(100% / 2 - 0.5rem / 2);
  }
}

@media screen and (max-width: 600px) {
  #idouban .idouban-item {
    width: 100%;
  }
}

#idouban .idouban-item:hover {
  border-color: var(--efu-main);
}

#idouban .idouban-item .idouban-picture {
  width: 120px;
  height: 100%;
  top: 0;
  padding: 10px;
}

#idouban .idouban-item .idouban-picture img {
  margin: 0;
  height: 100%;
  max-width: 100%;
  border-radius: 6px;
}

#idouban .idouban-item .idouban-info {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100%;
  position: relative;
}

#idouban .idouban-item .idouban-info .idouban-rating {
  position: absolute;
  bottom: 5px;
  line-height: 16px;
}

#idouban .idouban-item .idouban-info .idouban-meta {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 1300px) {
  #idouban .idouban-item .idouban-info .idouban-meta {
    -webkit-line-clamp: 3 !important;
  }
}

@media screen and (max-width: 899px) {
  #idouban .idouban-item .idouban-info .idouban-meta {
    -webkit-line-clamp: 4 !important;
  }
}

#idouban .idouban-item .idouban-info > div {
  width: 100%;
}

#idouban .idouban-item .idouban-info > div a {
  transition: all 0.2s ease 0s;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  width: 100%;
}

#idouban .idouban-item .idouban-info > div a {
  border-bottom: 0;
}

#idouban .idouban-item .idouban-info > div a:hover {
  background: none;
  color: var(--efu-main);
}

.idouban-pagination {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  animation: slide-in 0.6s 0.3s backwards;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.idouban-pagination .idouban-button {
  background: var(--efu-card-bg);
  height: 2rem;
  line-height: calc(2rem - 2px);
  border-radius: 8px !important;
  margin: 0;
  padding: 6px 12px !important;
  box-shadow: var(--efu-shadow-border);
  border: var(--style-border);
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
}

.idouban-pagination .idouban-button:hover {
  background: var(--efu-main);
  border: var(--style-border) !important;
}

.idouban-tabs {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  gap: 0.5rem;
  width: 100%;
  padding: 0.4rem 1rem 0.4rem 1rem;
  background: var(--efu-card-bg);
  border-radius: 12px;
  border: var(--style-border);
  animation: slide-in 0.6s 0.3s backwards;
  transition: 0.3s;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.idouban-tabs:hover {
  border-color: var(--efu-main);
  transition: 0.3s;
}

.idouban-tabs a {
  padding: 0.1rem 0.5rem !important;
  font-weight: 700;
  border-radius: 8px !important;
  border-bottom: 0;
}

.idouban-tabs .idouban-tab-active {
  background: var(--efu-main);
}

.idouban-pagination {
  width: 100%;
}